.phone-screen.find {
  background-color: rgb(221, 255, 231);
}
.header-T.find {
  margin-bottom: 0px;
}
.header-B.find {
  border-bottom: 0.5px solid rgba(231, 231, 231, 0.637);
}
.find-header {
  width: 100%;
  height: 40px;
  background-color: rgba(231, 231, 231, 0.637);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0px 15px;
  border-bottom: 0.5px solid rgba(231, 231, 231, 0.637);
  margin: 15px 0px;
}

.find__input {
  width: 80%;
  height: 100%;
  background-color: inherit;
  border: none;
  font-size: 15px;
  padding: 0px;
}
.find__input:focus {
  text-decoration: none;
  outline: none;
}
.find-text1,
.find-text2 {
  opacity: 0.6;
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}
.find-text2 {
  justify-content: flex-end;
  font-size: 12px;
}
