@import "resetCSS.css";
@import "friends.css";
@import "main.css";
@import "chat.css";
@import "book.css";
@import "more.css";
@import "setting.css";
@import "talk.css";
@import "find.css";
@import "bigScreen.css";

* {
  box-sizing: border-box;
}

html,
body {
  background-color: grey;
  width: 100%;
  height: 100%;
}

.phone-screen {
  background-color: white;
  margin: 0px auto;
  width: 67%;
  height: 100%;
  padding: 0px 15px;
  overflow: scroll;
}
a {
  opacity: 0.8;
  color: black;
  outline: none;
  text-decoration: none;
}
span {
  opacity: 0.8;
  vertical-align: center;
}
.comment {
  opacity: 0.4;
  font-size: 11px;
  font-weight: 400;
}
.comment2 {
  opacity: 0.4;
  font-size: 15px;
  font-weight: 400;
}
.comment3 {
  opacity: 0.4;
}

.flex-all-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.i-medium {
  opacity: 0.8;
  font-size: 20px;
}
.i-medium2 {
  opacity: 0.4;
  font-size: 20px;
  font-weight: lighter;
}
hr {
  opacity: 0.2;
}

.header-nav {
  animation: slideDown 0.5s ease forwards;
}
@keyframes slideDown {
  from {
    top: -100px;
  }
  to {
    top: 0px;
  }
}
.footer-nav {
  animation: slideUp 0.5s ease forwards;
}
@keyframes slideUp {
  from {
    bottom: -100px;
  }
  to {
    bottom: 0px;
  }
}
